Player one is <%=player_one%> and player two is <%=player_two%>.

<form action = "/human" method = "post">
<input type = "radio" name = "human choice" value = "1"><%=board[0]%>
<input type = "radio" name = "human choice" value = "2"><%=board[1]%>
<input type = "radio" name = "human choice" value = "3"><%=board[2]%>
<br>
<input type = "radio" name = "human choice" value = "4"><%=board[3]%>
<input type = "radio" name = "human choice" value = "5"><%=board[4]%>
<input type = "radio" name = "human choice" value = "6"><%=board[5]%>
<br>
<input type = "radio" name = "human choice" value = "7"><%=board[6]%> 
<input type = "radio" name = "human choice" value = "8"><%=board[7]%> 
<input type = "radio" name = "human choice" value = "9"><%=board[8]%>
<input type = "submit" name = "submit">
</form>
