This is the gameboard:
	<form action = "/start_game" method = "post">

<h1> TIC TAC TOE </h1>
<br/>
<br/>
<table>
	<table border="1" cellpadding="80" bgcolor="red">
		<tr>
			<style=font-family:"comic sans" font-size:"120px">
			<td><%=board[0]%></td>
			<td><%=board[1]%></td>
			<td><%=board[2]%></td>
		</tr>
		<tr>
			<td><%=board[3]%></td>
			<td><%=board[4]%></td>
			<td><%=board[5]%></td>
		</tr>
		<tr>
			<td><%=board[6]%></td>
			<td><%=board[7]%></td>
			<td><%=board[8]%></td>
		</style>
		</tr>
</table>
</form>



	